@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed');

body {
    text-align: left;
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #E6243D;
    font-family: 'Roboto Condensed', sans-serif;
}

#two_columns {
  padding: 20px;
}

#navbar {
	font-family: 'Lato', sans-serif;
}

nav a {
	color: #616161;
	text-decoration: none;
	display: block;
	float: left;
	padding: 15px;
}

a {
	color: #616161;
	text-decoration: none;
}

a:hover {
	color: #BDBDBD;
	text-decoration: underline;
}

#logo {
	float: right;
	padding: 20px 50px 55px 0px;
}


ul {
    list-style-type: none;
}

#offerings {
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#one {
	float: left;
	padding: 0px;
}

.footer_text {
	display: block;
	padding: 6px 15px;
}