@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed');

body {
    text-align: left;
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1 {
    color: #E6243D;
    font-family: 'Roboto Condensed', sans-serif;
}

#two_columns {
  padding: 20px;
}

#navbar {
	font-family: 'Lato', sans-serif;
}

nav a {
	color: #616161;
	text-decoration: none;
	display: block;
	float: left;
	padding: 15px;
}

a {
	color: #616161;
	text-decoration: none;
}

a:hover {
	color: #BDBDBD;
	text-decoration: underline;
}

#logo {
	display: inline;
	width: 100%;
	margin: 10px 10px 55px 10px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  border: 1px;
  overflow: hidden;
 float: left;
  width: 25%;
}
.item img {
  max-width: 100%;
  transition: all .2s ease;
  vertical-align: middle;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

#redparty {
	position: relative;
}

.text {
	position: absolute;
	left: 50%;
	margin-left: -40%;
	margin-top: -40%;
	right: 0;
	top: 50%;
	bottom: 0;
	color: white;
	display: none;
}

#redparty:hover .text {
	display: block;
}

#champagne {
	position: relative;
}

#champagne:hover .text {
	display: block;
}

#cocktails {
	position: relative;
}

#cocktails:hover .text {
	display: block;
}

#concert {
	position: relative;
}

#concert:hover .text {
	display: block;
}

#corporate {
	position: relative;
}

#corporate:hover .text {
	display: block;
}

#fireworks {
	position: relative;
}

#fireworks:hover .text {
	display: block;
}

#lecture {
	position: relative;
}

#lecture:hover .text {
	display: block;
}

#confetti {
	position: relative;
}

#confetti:hover .text {
	display: block;
}

#liveband {
	position: relative;
}

#liveband:hover .text {
	display: block;
}

#newyear {
	position: relative;
}

#newyear:hover .text {
	display: block;
}

#salad {
	position: relative;
}

#salad:hover .text {
	display: block;
}

#museum {
	position: relative;
}

#museum:hover .text {
	display: block;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.footer_text {
	display: block;
	padding: 6px 15px;
}


