body {
    text-align: center;
    background-color: #E0E0E0 
    font-family: Helvetica;
}

h1 {
    color: #E6243D
}

#slogan {
	font-style: italic;
}

ul {
    text-align: center;
    list-style-type: none;
}