body {
    text-align: center;
    background-image: url("..images/redparty.png");
    background-size: cover;
    background-color: white 
    font-family: Helvetica;
}

#slogan {
	font-style: italic;
}

ul {
    text-align: center;
    list-style-type: none;
}