@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    text-align: center;
    background-color: #E0E0E0;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    color: #E6243D;
    font-family: 'Roboto Condensed', sans-serif;
}

#slogan {
	font-style: italic;
}

ul {
    text-align: center;
    list-style-type: none;
}

.hero {
	background-image: url('../images/redparty.png');
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}